/*General styles for overall website*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 105, 225);
    background-color: tan;
}

/*Style Start for header*/
header {
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
    color: rgb(65, 105, 225);
    margin: 0;
    text-shadow: 0 0 15px rgba(65, 105, 225, .7);
}

header a{
    text-decoration: none;
    color: rgb(65, 105, 225);
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
    text-shadow: 0 0 15px rgba(65, 105, 225, .7);
}

/*Pseudo Class*/
header nav ul li a:hover {
    background: silver;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 1px solid ;
}



section {
    padding: 25px;
}

img {
    width: 100%;
}

/* Hero and background image styles */
.background {
    min-width: 100vw;
    background-size: cover;
    background-image: url(../images/herobackground.jpg);
}


.hero {
    padding: 10px;

}

.hero h2 {
    margin: 0 auto 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline solid 3px silver;
    font-size: 30px;
    color: yellow;
}

/* Start of overall section styles */

h3 {
    flex: 0 0 15%;
    border-right: 3px solid rgb(65, 105, 225);
    font-size: 35px;
}

.wrapper {
    background-color: tan;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.wrapper > div {
    padding: 25px;
}


/* Start of about me styles */
.about-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-photo {
    width: 300px;
}

.about-text {
    max-width: 600px;
    padding: 75px;
    align-items: center;
    text-align: left;
}

/* Start of My Work styles */

.app-one {
    flex: 1;
}
.other-apps {
    justify-content: space-between;
    display: flex;
    padding-top: 25px;
    flex: 1;
}

/* Start of Contact me styles */

.contact-info {
    font-size: 20px;
}
/*Style start for Footer*/
footer {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: rgb(65, 105, 225) solid 3px;
    align-items: center;
}

footer h2 {
    color: rgb(65, 105, 225);
    font-size: 35px;
}

footer div {
    line-height: 1.5;
    font-size: 30px;
    font-weight: bolder;
}

/* Media queries start */

@media (max-width: 1170px) {
    header {
        justify-content: center;
        text-align: center;
        display: block;
    }

    .wrapper {
        display: block;
        text-align: center;
    }

    h3 {
        border-right: none;
        border-bottom: 3px solid rgb(65, 105, 225);
        padding-bottom: 10px;
    }

    .about-info {
        justify-content: center;
    }

    .about-text {
        padding: 20px;
    }

    .other-apps {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer h2 {
        font-size: 25px;
    }

    footer div {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    header a {
        color: yellow;
    }
}

@media (max-width: 575px) {
    header nav ul {
        display: block;
    }

    .hero h2 {
        display: block;
        text-align: center;
    }
    .other-apps {
        padding: 25px 50px 0 50px;
    }

    .contact {
        display: block;
        text-align: left;
    }
     
    .wrapper {
        padding: 0;
    }

    .contact-info {
        font-size: 12px;
    }

    footer {
        display: block;
        text-align: center;
    }
}